@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  background-color: #f6f7fb;
  color: #4a4a4a;
}

/* Sidebar Items Icon */
#sidebar li .fas {
  color: #fff;
}

#sidebar .sidebar-item {
  @apply flex items-center mb-4;
}

#sidebar .sidebar-item .sidebar-item-icon {
  @apply bg-primary p-2 rounded mr-2 text-center w-10;
}

/* Navbar */
#navbar .dropdown-profile .dropdown-profile-box {
  visibility: hidden;
  transform: translateY(-10px);
}

#navbar .dropdown-profile .dropdown-profile-box.active {
  visibility: visible;
  transform: translateY(0);
}

/* Form */
.form-group {
  @apply flex;
  @apply flex-col;
  @apply items-start;
  @apply mb-4;
}

.form-label {
  width: 100%;
}

.form-control {
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px #dcdcdc solid;
  height: 32px;
  width: 100%;
}

.form-control:focus {
  outline-color: #ccc;
}

.image-box {
  border: 1px #dcdcdc solid;
  width: 92.5px;
  height: 92.5px;
  border-radius: 5px;
}

.image-box img {
  width: 92.5px;
  height: 92.5px;
}

.parallel {
  margin-left: 0px;
}

/* Buttons */
.btn {
  display: inline-block;
  border: 1px #dcdcdc solid;
  background-color: #fff;
  width: 125px;
  height: 36px;
  border-radius: 5px;
}

.btn-success {
  background-color: #00bd88;
  color: #fff;
  border-color: #00bd88;
}

@screen md {
  /* Forms */
  .form-label {
    width: 25%;
  }

  .form-group {
    @apply flex-row;
  }

  .form-control {
    height: 32px;
    width: 512px;
  }

  .image-box {
    @apply text-center;
  }

  .parallel {
    margin-left: 25%;
  }
}

@screen lg {
  /* Forms */
  .image-box {
    border: 1px #dcdcdc solid;
    width: 185px;
    height: 185px;
    border-radius: 5px;
  }

  .image-box img {
    width: 185px;
    height: 185px;
  }
}

@screen xl {
  /* Forms */
}
