@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  background-color: #f6f7fb;
}

/* Sidebar Items Icon */
#sidebar li .fas {
  color: #fff;
}

#sidebar .sidebar-item {
  @apply flex items-center mb-4;
}

#sidebar .sidebar-item .sidebar-item-icon {
  @apply bg-primary p-2 rounded mr-2 text-center w-10;
}

/* Navbar */
#navbar .dropdown-profile .dropdown-profile-box {
  pointer-events: none;
}

#navbar .dropdown-profile button:focus + div {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
}

#navbar .dropdown-profile .dropdown-profile-box {
  opacity: 0;
  transform: translateY(-10px);
}
